.buttonn{
    display: flex;
    width: 120px;
    height: 40px;
    background-color: rgb(205, 57, 57);
    color: white;
    border-color: rgb(205, 57, 57);
    border: 2px solid rgb(205, 57, 57);
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.number{
    background-color: rgb(82, 11, 11);
    width: 30px;
    border-radius: 10px;
}
